@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-test: #8a2a2a;
}

/* IDK if i need this tbh */
/* @font-face {
  font-family: "VCROSDMono";
  src: url("/VCR_OSD_MONO_1.001.ttf") format("truetype");
} */
